Repository JJinBBang-web/JJinBBang_FE, pull requests merged in 2025-02, with the labels that each got.

#2 Feat/navbar - 하단 네비게이션 바 구현 및 기능 추가
  package-lock.json
  package.json
  src/App.tsx
  src/components/Nav.module.css
  src/components/Nav.tsx
  src/pages/HeartListPage.tsx
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/pages/Map.tsx
  src/pages/MyPage.tsx
  src/styles/global.css
  src/util/global.d.ts
  src/util/svg.d.ts
  tsconfig.json
Labels: All, Setting, Feature, Style, 👩 지희

#3 Feat/navbar - content width 수정
  src/components/Nav.module.css
  src/styles/global.css
Labels: Style, 👩 지희

#7 Feat/auth - 회원가입 및 학생 인증
  .gitignore
  src/App.tsx
  src/api/auth.ts
  src/api/client.ts
  src/assets/fonts/SpoqaHanSansNeo-Bold.woff2
  src/assets/fonts/SpoqaHanSansNeo-Light.woff2
  src/assets/fonts/SpoqaHanSansNeo-Medium.woff2
  src/assets/fonts/SpoqaHanSansNeo-Regular.woff2
  src/assets/fonts/SpoqaHanSansNeo-Thin.woff2
  src/assets/image/arrowIcon.svg
  src/assets/image/characterIcon.svg
  src/assets/image/checkIcon.svg
  src/assets/image/checkIconActive.svg
  src/assets/image/emptyCharacterIcon.svg
  src/assets/image/graduateCharacter.svg
  src/assets/image/kakaoIcon.svg
  src/assets/image/pencilIcon.svg
  src/assets/image/profileIcon.svg
  src/assets/image/questionIcon.svg
  src/assets/image/verifiedCharacterIcon.svg
  src/assets/image/verifyCompleteIcon.svg
  src/assets/image/warningIcon.svg
  src/components/auth/KakaoLoginModal.tsx
  src/components/auth/ProtectedRoute.tsx
  src/components/auth/SignupCompleteModal.tsx
  src/components/auth/TermsAgreementModal.tsx
  src/components/auth/common/AuthButton.tsx
  src/components/auth/common/AuthInput.tsx
  src/components/auth/verification/EmailVerificationForm.tsx
  src/hooks/useAuth.ts
  src/pages/MyPage.tsx
  src/pages/auth/AccountAuthPage.tsx
  src/pages/auth/CurrentStudentVerification.tsx
  src/pages/auth/EmailVerificationPage.tsx
  src/pages/auth/KakaoAuthPage.tsx
  src/pages/auth/KakaoCallback.tsx
  src/pages/auth/MyAccountPage.tsx
  src/pages/auth/NewStudentVerification.tsx
  src/recoil/auth/atoms.ts
  src/routes/AuthRoutes.tsx
  src/styles/MyPage.module.css
  src/styles/auth/AccountAuthPage.module.css
  src/styles/auth/AuthButton.module.css
  src/styles/auth/AuthInput.module.css
  src/styles/auth/CurrentStudentVerification.module.css
  src/styles/auth/EmailVerification.module.css
  src/styles/auth/EmailVerificationPage.module.css
  src/styles/auth/KakaoAuthPage.module.css
  src/styles/auth/KakaoLoginModal.module.css
  src/styles/auth/MyAccountPage.module.css
  src/styles/auth/NewStudentVerification.module.css
  src/styles/auth/SignupCompleteModal.module.css
  src/styles/auth/TermsAgreementModal.module.css
  src/styles/global.css
  src/types/kakao.d.ts
  src/util/api.ts
  src/util/fileUpload.ts
  src/util/kakaoAuth.ts
Labels: Feature, Style

#6 Feat/map - 지도페이지 개발
  src/App.tsx
  src/assets/image/downIcon.svg
  src/assets/image/iconClose.svg
  src/assets/image/iconHousing.svg
  src/assets/image/iconSearch.svg
  src/components/Nav.module.css
  src/components/Nav.tsx
  src/components/map/FilterBar.module.css
  src/components/map/FilterBar.tsx
  src/components/map/HousingFilter.module.css
  src/components/map/HousingFilter.tsx
  src/components/map/HousingFilterModal.tsx
  src/components/map/SearchBar.module.css
  src/components/map/SearchBar.tsx
  src/components/util/ModalBottomSheet.module.css
  src/components/util/ModalBottomSheet.tsx
  src/pages/Map.module.css
  src/pages/Map.tsx
  src/recoil/map/mapRecoilState.ts
  src/recoil/mapRecoilState.ts
  src/recoil/util/utilRecoilState.ts
  src/styles/global.css
Labels: Feature, Style, 👩 지희

#10 Feat/map #8 - 지도페이지 바텀시트 UI 및 필터링 개발
  package-lock.json
  package.json
  src/assets/image/campusImg2.svg
  src/assets/image/iconDown.svg
  src/assets/image/iconUp.svg
  src/components/map/ContractFilterModal.module.css
  src/components/map/ContractFilterModal.tsx
  src/components/map/FilterBar.module.css
  src/components/map/FilterBar.tsx
  src/components/map/HousingFilter.module.css
  src/components/map/HousingFilter.tsx
  src/components/map/HousingFilterModal.module.css
  src/components/map/HousingFilterModal.tsx
  src/components/map/JjinFilterModal.module.css
  src/components/map/JjinFilterModal.tsx
  src/components/map/ReviewTypeFilterModal.module.css
  src/components/map/ReviewTypeFilterModal.tsx
  src/components/map/SearchBar.module.css
  src/components/map/SearchBar.tsx
  src/components/map/UniversityFilterModal.module.css
  src/components/map/UniversityFilterModal.tsx
  src/components/util/ModalBottomSheet.module.css
  src/components/util/ModalBottomSheet.tsx
  src/pages/Map.module.css
  src/pages/Map.tsx
  src/recoil/map/mapRecoilState.ts
  src/recoil/map/universityRecoilState.ts
  src/recoil/util/filterRecoilState.ts
  src/styles/global.css
Labels: Feature, Style, 👩 지희
